.transition-height {
    transition-property: height;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

.arrow {
    transform-origin: center;
}

.arrow .open {
    transform: rotate(180deg);
}